body{
    padding: 100px;
}

.submit-area{
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #a18686;
    padding: 60px;
}

#transaction-area{
    display: none;
}

.pb{
    padding: 30px;
}

.color1{
    background-color:green;
}

.color2{
    background-color:rgb(170 3 255);
}

.color3{
    background-color:rgb(247, 127, 16);
}

.status{
    margin: 0 55px;
    color: white;
    padding: 50px;
    border-radius: 15px;
}

.status h5{
    font-size: 45px;
}

.status h4{
    font-size: 45px;
}